<% layout('layout/boilerplate.ejs')%>
    <h1>ALL CampGrounds </h1>
    <a href="/campgrounds/new">Add Campground</a>
    <ul>
        <% for(let i of camps) {%>
        <li><a href="/campgrounds/<%=i._id%>"><%=i.title%></a></li>
        <% } %>
    </ul>
