<% layout('layout/boilerplate.ejs') %>
<style>
    h5{
        font-weight: 700; font-size: x-large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    img{
        max-height: 350px;
    }
    label{
        font-family: 'Franklin Gothic', 'Arial Narrow', 'Arial', 'sans-serif';
    }
</style>
<div class="container" style="top:50% ;left: 50%;transform: translate3d(-50%,-50%,0);position: absolute;">
    <div class="row">
        <div class="col-md-6 offset-md-3 mb-5  mt-5 py-2">
            <div class="card shadow">
                <div class="card body">
                    <img src="https://images.unsplash.com/photo-1563299796-17596ed6b017?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGNhbXB8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1000&q=60"
                    alt="" class="card-img-top">
                    <h5 class="text-center py-2">Sign Up</h5>
                    <form action="/register" method="post" novalidate class="vaildated_form">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username :</label>
                            <input class="form-control" type="text" name="username" id="username" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email ID :</label>
                            <input class="form-control" type="email" name="email" id="email" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="Password">Password :</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="d-grid gap-1">
                            <button class="btn btn-success">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
